

html {
        background: url(/srcImg/backgrond_img.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
@font-face {
    font-family: '7fonts_ru_virgo';
    src: url('fonts/7fonts_ru_virgo.eot');
    src: url('fonts/7fonts_ru_virgo.eot') format('embedded-opentype'),
         url('fonts/7fonts_ru_virgo.woff2') format('woff2'),
         url('fonts/7fonts_ru_virgo.woff') format('woff'),
         url('fonts/7fonts_ru_virgo.ttf') format('truetype'),
         url('fonts/7fonts_ru_virgo.svg#7fonts_ru_virgo') format('svg');
}
h1{
	font-family: "7fonts_ru_virgo";
	padding: 80px 50%;
	color: #fff;
	font-size: 144.4px;
}
