html {
  font-size: 10px;
  color: #fff;
}
body {
  color: #fff;
  background: url(../img/Ring1.jpg) no-repeat center center;
  height: 100vh;
}
.registration_form {
  position: absolute;
  display: none;
  z-index: 10;
  top: 25%;
  left: 30%;
  text-align: center;
  height: 40vh;
  width: 40%;
  background-color: #C0C0C0;
  transform: translateY(-130%);
  transition: all 1s;
}
.registration_form a {
  position: absolute;
  font-size: 2.5rem;
  text-decoration: none;
  right: 2rem;
  z-index: 3;
}
.registration_form-overflow {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.registration_form-overflow:target {
  display: block;
}
.registration_form-overflow:target + .registration_form {
  display: block;
  transform: translateY(0%);
}
.registration_form .Name {
  width: 60%;
  margin-top: 2rem;
  border: 1px #444444 solid;
  padding-left: 1rem;
}
.registration_form .Phone {
  width: 60%;
  margin-top: 2rem;
  border: 1px #444444 solid;
  padding-left: 1rem;
}
.registration_form .Problem {
  width: 80%;
  height: 20rem;
  border: 1px #444444 solid;
  margin-top: 2rem;
  padding-bottom: 16rem;
  padding-left: 1rem;
}
.headеr {
  padding-bottom: 15rem;
}
.headеr h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.headеr p {
  float: right;
  font-size: 2rem;
  font-weight: 600;
}
.main .col-md-3 {
  box-shadow: 0 0 3.5rem 0 rgba(20, 20, 21, 0.21);
  text-align: center;
  float: left;
}
.main .box {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main .box .wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  transform-origin: 0% 0%;
  transform: translateY(-100%) rotate(45deg);
}
.main .box .wrap a {
  text-decoration: none;
  margin: 7rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.main .box:hover .wrap {
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.main .column-first {
  background-image: url(../img/Fit_kross.jpg);
  background-size: cover;
  width: 26rem;
  height: 18rem;
}
.main .column-second {
  background-image: url(../img/Emeljanenko.jpg);
  background-size: cover;
  width: 26rem;
  height: 18rem;
}
.main .column-third {
  background-image: url(../img/Kik_boks.jpg);
  width: 26rem;
  background-size: cover;
  height: 18rem;
}
.main .column-fourth {
  background-image: url(../img/Woman.jpg);
  background-size: cover;
  width: 26rem;
  height: 18rem;
}
