html {
	font-size: 10px;
}
body {
	background: url(../img/Кing.jpg) no-repeat;
}
.headеr {
	padding-bottom: 15rem;
	& h1 {
	text-align: center;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0;
	
	&p {
	float: right;
	font-size: 2rem;
	font-weight: 600;
}
.col-md3 {
	box-shadow: 0 0 3.5rem 0 rgba(20, 20, 21, 0.21);
	margin-left: 2.5rem;
	text-align: center;
	float: left;
}
.first_column {
	background-color: url(../img/Fit_kross.jpg);
	width: 26rem;
	height: 26rem;
}
.second_column {
	background-color: url(../img/Emeljanenko.jpg);
	width: 26rem;
	height: 26rem;
}
.third_column {
	background-color: url(../img/Kik_boks.jpg);
	width: 26rem;
	height: 26rem;
}
.fourth_column {
	background-color: rgb(247, 71, 112);
	width: 26rem;
	height: 26rem;
}

