html {
  font-size: 10px;
}
body {
  text-align: center;
}
@font-face {
  font-family: 'EuropeUnderground_light';
  src: url('../fonts/EuropeUnderground_light.eot');
  src: url('../fonts/EuropeUnderground_light.eot') format('embedded-opentype'), url('../fonts/EuropeUnderground_light.woff2') format('woff2'), url('../fonts/EuropeUnderground_light.woff') format('woff'), url('../fonts/EuropeUnderground_light.ttf') format('truetype'), url('../fonts/EuropeUnderground_light.svg#EuropeUnderground_light') format('svg');
}
.head_line {
  padding-top: 2rem;
}
.head_line h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.head_line a {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.head_line button {
  background-color: white;
  border-radius: 1rem;
  border: .1rem solid;
  padding: .5rem 2.6rem;
  font-weight: 600;
}
.menu_line {
  background-color: black;
}
.menu_line li {
  display: inline-block;
  ffont-size: 2rem;
  margin: -1rem 0;
}
.menu_line li a {
  display: block;
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.menu_line li a:hover {
  background: #5d6163;
}
.main {
  background: url(../images/bg_image.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  padding: 11rem 0;
}
.main h2,
.main h3,
.main h4,
.main button {
  text-transform: uppercase;
}
.main h2 {
  font-size: 5rem;
  font-weight: 100;
  font-family: 'EuropeUnderground_light';
  letter-spacing: 5px;
}
.main h3 {
  font-size: 2rem;
  margin-top: -4rem;
}
.main h4 {
  font-size: 1rem;
  font-weight: 100;
}
.main p {
  margin-top: 4rem;
}
.main button {
  background-color: #059feb;
  border-radius: 2rem;
  padding: .5rem 2rem;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.advantages {
  margin-top: 3rem;
}
.advantages h2 {
  text-transform: uppercase;
  font-weight: 900;
}
.advantages h4 {
  display: block;
  width: 70%;
  margin: 0% 15%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}
.advantages img {
  width: 10rem;
  height: 7rem;
}
.advantages h3 {
  font-size: 1.2rem;
  font-weight: 100;
}
.advantages p {
  font-size: 1rem;
}
